body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}

header {
  background-color: #445161;
  color: #ffffff;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.header-content {
  grid-column: span 7;
}

.header-content-h1 {
  margin: 0;
  color: #ffffff;
  line-height: 0.8;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header-content-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 33px;
  margin: 50px 0 0 0;
}

.header-content-list-item {
  position: relative;
}

.header-content-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: -37px;
  background-image: url("../img/tic.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header-img {
  grid-column: span 5;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #ffffff;
  width: 470px;
  height: 215px;
}

.article {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.article-wrap {
  padding-right: 10px;
  grid-column: span 7;
}

.article-wrap-header {
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: #445161;
}

.article-wrap-p {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}

.article-wrap-p:last-child {
  margin: 0;
}

.video-wrap {
  grid-column: span 5;
  background-color: #445161;
  width: 430px;
  height: 245px;
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

#buttonPlay {
  position: absolute;
  margin-left: -25px;
  top: 40%;
  left: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  opacity: .25;
  -webkit-transition: 1s;
  transition: 1s;
}

#buttonPlay svg {
  fill: #ffffff;
}

#close_video {
  position: absolute;
  margin-left: -25px;
  top: 40%;
  left: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  opacity: .0;
  -webkit-transition: 1s;
  transition: 1s;
}

#close_video svg {
  fill: #ffffff;
}

.show {
  z-index: 10;
}

.hide {
  z-index: -10;
}

.ACDC {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-wrap:hover #close_video {
  opacity: .5;
}

.pluses {
  padding: 0 0 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.pluses-h2 {
  grid-column: span 12;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
}

.pluses-item {
  grid-column: span 6;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  padding: 0 0 0 45px;
  margin: 0 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:before {
  content: "+";
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 58px;
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  background-color: #445161;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

details[open] summary:before {
  content: "-";
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 90px;
  line-height: 18px;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  background-color: #445161;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pluses-item-add {
  outline: 0;
}

.scrinshots {
  padding-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
}

.scrinshots-title {
  margin: 0 0 20px 0;
  grid-column: span 12;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #445161;
}

.scrinshots-fig {
  grid-column: span 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  margin: 0 0 35px 0;
}

.scrinshots-pic {
  background-color: #445161;
  width: 200px;
  height: 150px;
}

.scrinshots-pic-description {
  margin-left: 15px;
}

.scrinshots-pic-description-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #445161;
}

.scrinshots-pic-description-conetnt {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
  margin: 0;
}

.review {
  padding-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
}

.review-title {
  grid-column: span 12;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #445161;
  margin: 0 0 35px 0;
}

.review-fig {
  grid-column: span 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px auto;
      grid-template-columns: 75px auto;
  margin: 0 0 35px 0;
}

.review-pic {
  background-color: #445161;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.review-fig-description {
  background: #ebebeb;
  padding: 15px;
  position: relative;
  margin-left: 20px;
}

.review-fig-description::after {
  content: '';
  position: absolute;
  left: -40px;
  top: 17px;
  border: 20px solid transparent;
  border-right: 20px solid #ebebeb;
}

.review-fig-description-content {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  line-height: 1.29;
  text-align: left;
  color: #333333;
}

.review-fig-description-sign {
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #989898;
}

.price {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price-title {
  width: 100%;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #445161;
  margin: 0 0 35px 0;
}

.price-offer {
  border: 1px solid #445161;
  background-color: #445161;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 0 10px 0;
}

.price-offer-title {
  margin: 0;
  padding: 15px 0 15px 0;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.price-offer-cost {
  margin: 0;
  padding: 18px 0 18px 0;
  font-size: 40px;
  line-height: 0.75;
  text-align: center;
  background-color: #ffffff;
  color: #445161;
}

.price-offer-list {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.price-offer-buy {
  margin: 20px auto;
  width: 260px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #445161;
  text-transform: uppercase;
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 40px;
  padding: 50px 50px 60px 50px;
  background-color: #445161;
  border: 1px solid #000;
}

.contacts-title {
  margin: 0 0 30px 0;
  grid-column: span 10;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}

.contacts-form {
  grid-column: span 6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-form-wrap {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-form-name {
  width: 500px;
  line-height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #445162;
  padding: 0 0 0 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.contacts-form-mail {
  width: 500px;
  line-height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #445162;
  padding: 0 0 0 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.contacts-form-text {
  width: 500px;
  line-height: 24px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #445162;
  padding: 0 0 0 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.contacts-form-button {
  text-transform: uppercase;
  text-align: center;
  outline: none;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  width: 140px;
  line-height: 40px;
  margin-bottom: 0;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #445162;
  padding: 0 0 0 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.contacts-form-button:hover {
  background-color: #cccccc;
}

.contacts-form-button:active {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  top: 2px;
}

.ourContacts {
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourContacts .sign {
  margin: 0 0 25px 0;
  padding: 5px 0 0 30px;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.ourContacts .sign:hover {
  color: #bcbcbc;
}

.ourContacts .sign-1:before {
  content: "";
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/skype.png");
  background-repeat: no-repeat;
  background-position: center;
}

.ourContacts .sign-2:before {
  content: "";
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icq.png");
  background-repeat: no-repeat;
  background-position: center;
}

.ourContacts .sign-3:before {
  content: "";
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-position: center;
}

.ourContacts .sign-4:before {
  content: "";
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: center;
}

.ourContacts .ourContacts-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ourContacts .ourContacts-icons .icon {
  font-weight: 900;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
  color: #445162;
}

.ourContacts .ourContacts-icons .icon:hover {
  background-color: #bcbcbc;
}

.copyright {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.3px;
  text-align: center;
  color: #445162;
  border: 1px solid #445162;
  padding: 10px 0 5px 0;
}

@media screen and (max-width: 1050px) {
  .header-content {
    grid-column: span 12;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header-img {
    margin-top: 50px;
    grid-column: span 12;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .article-wrap {
    grid-column: span 12;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .video-wrap {
    margin-top: 50px;
    grid-column: span 12;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .article-wrap-header {
    text-align: center;
  }
  .pluses-item {
    grid-column: span 12;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .scrinshots-fig {
    grid-column: span 12;
  }
  .review-fig {
    grid-column: span 12;
  }
  .contacts-form {
    grid-column: span 10;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ourContacts {
    grid-column: span 10;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 50px;
  }
}

@media screen and (max-width: 650px) {
  .scrinshots-fig {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .scrinshots-pic {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .scrinshots-pic-description-title {
    text-align: center;
  }
  .header-img {
    width: 430px;
  }
  .review-fig {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .review-pic {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .review-fig-description {
    margin-top: 20px;
  }
  .review-fig-description::after {
    border-right: none;
    margin-left: -28px;
    border: 20px solid transparent;
    border-bottom: 20px solid #ebebeb;
    top: -40px;
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */