$width: 1920px
@font-face
    font-family: "Montserrat"
    src: url(../fonts/Montserrat-Regular.ttf)
    font-weight: 400
@font-face 
    font-family: "Montserrat"
    src: url(../fonts/Montserrat-ExtraLight.ttf)
    font-weight: 200
@font-face 
    font-family: "Montserrat"
    src: url(../fonts/Montserrat-Light.ttf)
    font-weight: 300
@font-face 
    font-family: "Raleway"
    src: url(../fonts/Raleway-Regular.ttf)
    font-weight: 400    
@font-face 
    font-family: "Raleway"
    src: url(../fonts/Raleway-Medium.ttf)
    font-weight: 500
@font-face 
    font-family: "Raleway"
    src: url(../fonts/Raleway-Bold.ttf)
    font-weight: 700
@font-face 
    font-family: "Roboto"
    src: url(../fonts/Roboto-Regular.ttf)
    font-weight: 400

body
    max-width: $width
    margin: 0
.header
    background-color: #555556
    background-image: url('../img/landscape-1.jpg')
    background-repeat: no-repeat
.header-top
    display: grid
    grid-template-columns: repeat(24,1fr)
.header-top-logo
    grid-column: span 8
    margin: 40px 0 0 375px
    .header-top-logo-a
        font-size: 34px
        font-family: "Raleway"
        font-weight: 400
        color: #ffffff
        line-height: 1.2
        text-align: right
        text-decoration: none
        span
            vertical-align: 15px
            margin-left: -5px
    .logo
        fill: #ffffff
.header-top-logo-a:hover
    color: #c7b299
    .logo
        fill: #c7b299
.header-top-menu
    grid-column: span 10
    margin: 0 0 0 75px
.header-top-menu-list
    display: flex
    flex-wrap: wrap
    list-style: none
    margin: 0
    a 
        text-decoration: none
        color: #ffffff
        margin: 60px 0 0 28px
        font-family: Montserrat
        font-size: 14px
        font-weight: 300
        line-height: 1.2
    a:hover 
        color: #c7b299
.header-top-twoicon
    grid-column: span 6
    display: flex
    margin: 56px 0 0 47px 
    .case, .search
        fill: #ffffff
    .search
        margin-left: 30px
    .case:hover, .search:hover
        fill: #c7b299
.header-carousel
    display: grid
    grid-template-columns: repeat(24,1fr)
    margin: 270px 0 0 0
    .arrow-left
        grid-column: span 4
        justify-self: center
        fill: #a3a2a0
        padding: 102px 0px 0 20px
    .header-carousel-content
        grid-column: span 16
        justify-self: center
        color: #ffffff
        text-align: center
        span
            margin-left: 20px
            font-size: 36px
            font-family: "Raleway"
            line-height: 1.2
        h1
            margin: 4px 0 0 15px
            font-size: 50px
            font-family: "Raleway"
            font-weight: 700
            line-height: 1.2
            letter-spacing: 2px
        .header-carousel-content-p 
            margin: 12px 0 0 33px
            max-width: 568px
            font-size: 16px
            font-family: "Montserrat"
            line-height: 1.5
            font-weight: 300
        button
            text-transform: uppercase
            width: 170px
            height: 50px
            background-color: #998675
            box-shadow: 0 3px 0 #44403d
            border-radius: 3px
            margin: 49px 0 100px 19px
            font-family: "Raleway"
            font-size: 14px
            font-weight: 700
            line-height: 23px
            color: #ffffff
            border-color: #998675 
            outline: none
        button:hover
            background-color: #817264
        button:active
            box-shadow: 0 0 0 #736357
    .arrow-right
        grid-column: span 4
        justify-self: center
        fill: #a3a2a0
        padding: 102px 0 0 13px
.header-paggination
    margin: 232px 0 0 19px
    display: flex
    justify-content: center
    a
        text-decoration: none
    .header-paggination-point
        margin: 0 10px 40px 0
        width: 11px
        height: 11px
        background-color: #ffffff
        opacity: 0.5
        border-radius: 50%
        box-sizing: border-box
    .header-paggination-point:hover
        border: 2px solid #d3c1ad
        background-color: #ffffff00


@media screen and ( max-width: 1880px )
    .header-top-logo
        grid-column: span 6
        margin: 40px 0 0 200px
    .header-top-menu
        grid-column: span 12  
@media screen and ( max-width: 1560px )
    .header-top-logo
        grid-column: span 6
        margin: 40px 0 0 70px
    .header-top-menu
        grid-column: span 14
        margin: 0
    .header-top-twoicon
        grid-column: span 4
    .header-top-menu-list
        padding: 0
@media screen and ( max-width: 1145px )
    .header-top-logo
        grid-column: span 24
        justify-self: center
        margin: 0
    .header-top-menu
        grid-column: span 24
        margin: 0
        justify-self: center
    .header-top-twoicon
        grid-column: span 24
        justify-self: center
    .header-top-menu-list
        justify-content: center
